*{margin:0;
	padding:0;
}
a{text-decoration: none;
}
li{text-decoration: none;
	list-style: none;
}
body{
	font-family: 'Gemunu Libre', sans-serif;
}
.logo{
	background:#1b6367 ;
	width:100% ;
	display: flex;
	justify-content: center;
}
.graficlogo{
	padding: 1px;
	max-width: 100%;
	box-sizing: border-box;
}